.custom-card {
  padding: 0 10px;
  border: 1px solid #016AE9;
}

.custom-card-header {
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  background-color: #016AE9;
  min-width: 120px;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom-card-header span {
  color: white;
}

.custom-card-content {
  height: 230px;
  background-color: white;
  padding: 10px 8px 10px 5px;
}

.custom-card-label {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.custom-card-label span {
  width: 1px;
  flex-grow: 1;
}

.check-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.check-icon path {
  fill: #016AE9;
}

.custom-card-btn {
  margin: auto;
  background-color: #016AE9;
  color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}